<html>
    <head>
        <title>
            <%= %>
        </title>
    </head>
    <body>
        Hi <strong><%= ffname+' '+flname %></strong>
        <br>
            <%= Tfname+' '+ Tlname%> has Assigned a Activity name <%= activityName %> with given description <%= desc%>
        <br>
        <strong>
            Thanks
        </strong>
    </body>
</html>
