<html>
    <head>
        <title>
            <%= %>
        </title>
    </head>
    <body>
        Hi <strong><%= tfname+' '+tlname %></strong>
        <br>
            <%= sfname+' '+ slname%> has booked a session slot for day <%= day %> at <%= slottime %>. The session type is <%=type_session %>
        <br>
        <strong>
            Thanks
        </strong>
    </body>
</html>
