<html>
    <head>
        <title>
            <%= %>
        </title>
    </head>
    <body>
        Welcome <strong><%= fname+' '+lname %></strong>
        <br>
        Welcome to <%= SITE_NAME %>. Following are your credentials :
        <br>
        Username : <%= email %>
        <br>
        Password : <%= password %>
        <br>
        <strong>
            Thanks
        </strong>
    </body>
</html>