<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head")%>
    <title>Total Hoop | Dashboard </title>
</head>

<body>
  <%- include("./partials/navbar")%>
    <%- include("./partials/sidebar")%>
      <%- include("./partials/Card1.ejs")%>

</body>
<%- include("./partials/script")%>

</html>