<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head")%>
    <title>Total Hoop | Profile</title>
</head>

<body>
  <% const camel2title=(camelCase)=> camelCase
    .replace(/([A-Z])/g, (match) => ` ${match}`)
    .replace(/^./, (match) => match.toUpperCase())
    .trim();
    %>
    <%- include("./partials/navbar")%>
      <%- include("./partials/sidebar")%>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Profile</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>

          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">

                  <!-- Profile Image -->
                  <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                      <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg"
                          alt="User profile picture">
                      </div>


                      <p class="text-muted text-center">
                        <%-userProfile.role%>
                      </p>

                      <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                          <b>First Name</b> <a class="float-right">
                            <%-userProfile.firstName%>
                          </a>
                        </li>
                        <li class="list-group-item">
                          <b>Last Name</b> <a class="float-right">
                            <%-userProfile.lastName%>
                          </a>
                        </li>
                        <li class="list-group-item">
                          <b>Event</b> <a class="float-right">1,322</a>
                        </li>
                        <li class="list-group-item">
                          <b>Games</b> <a class="float-right">543</a>
                        </li>
                        <li class="list-group-item">
                          <b>Won</b> <a class="float-right">13,287</a>
                        </li>
                        <li class="list-group-item">
                          <b><i class="fa-regular fa-user"></i> Gender</b>
                          <p class="float-right">
                            <%-userProfile.gender%>
                          </p>

                        </li>

                        <li class="list-group-item">
                          <b><i class="fa-regular fa-envelope"></i> Email</b>
                          <p class="float-right">
                            <%-userProfile.email%>
                          </p>

                        </li>

                        <li class="list-group-item">
                          <b><i class="fa-solid fa-phone"></i> Mobile</b>
                          <p class="float-right">
                            <%-userProfile.phone%>
                          </p>

                        </li>
                        <li class="list-group-item">
                          <b><i class="fa-regular fa-calendar-days"></i> DOB</b>
                          <p class="float-right">
                            <%-userProfile.birthdate%>
                          </p>

                        </li>

                        <li class="list-group-item">
                          <b><i class="fas fa-map-marker-alt mr-1"></i> Address</b>
                          <p class="float-right">
                            <%-userProfile.address%>
                          </p>

                        </li>

                        <li class="list-group-item">
                          <b><i class="fa-solid fa-city"></i> Zipcode</b>
                          <p class="float-right">
                            <%-userProfile.zip%>
                          </p>

                        </li>
                      </ul>







                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                  <div class="card">
                    <div class="card-header p-2">
                      <ul class="nav nav-pills">
                        <li class="nav-item"><a class="active nav-link" href="#settings" data-toggle="tab">Settings</a>
                        </li>
                        <!-- <li class="nav-item"><a class="nav-link " href="#activity" data-toggle="tab">Activity</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li> -->

                      </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                      <div class="tab-content">
                        <div class=" tab-pane" id="activity">
                          <!-- Post -->
                          <div class="post">
                            <div class="user-block">
                              <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg"
                                alt="user image">
                              <span class="username">
                                <a href="#">Jonathan Burke Jr.</a>
                                <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                              </span>
                              <span class="description">Shared publicly - 7:30 PM today</span>
                            </div>
                            <!-- /.user-block -->
                            <p>
                              Lorem ipsum represents a long-held tradition for designers,
                              typographers and the like. Some people hate it and argue for
                              its demise, but others ignore the hate as they create awesome
                              tools to help create filler text for everyone from bacon lovers
                              to Charlie Sheen fans.
                            </p>

                            <p>
                              <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                              <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                              <span class="float-right">
                                <a href="#" class="link-black text-sm">
                                  <i class="far fa-comments mr-1"></i> Comments (5)
                                </a>
                              </span>
                            </p>

                            <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                          </div>
                          <!-- /.post -->

                          <!-- Post -->
                          <div class="post clearfix">
                            <div class="user-block">
                              <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg"
                                alt="User Image">
                              <span class="username">
                                <a href="#">Sarah Ross</a>
                                <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                              </span>
                              <span class="description">Sent you a message - 3 days ago</span>
                            </div>
                            <!-- /.user-block -->
                            <p>
                              Lorem ipsum represents a long-held tradition for designers,
                              typographers and the like. Some people hate it and argue for
                              its demise, but others ignore the hate as they create awesome
                              tools to help create filler text for everyone from bacon lovers
                              to Charlie Sheen fans.
                            </p>

                            <form class="form-horizontal">
                              <div class="input-group input-group-sm mb-0">
                                <input class="form-control form-control-sm" placeholder="Response">
                                <div class="input-group-append">
                                  <button type="submit" class="btn btn-danger">Send</button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <!-- /.post -->

                          <!-- Post -->
                          <div class="post">
                            <div class="user-block">
                              <img class="img-circle img-bordered-sm" src="../../dist/img/user6-128x128.jpg"
                                alt="User Image">
                              <span class="username">
                                <a href="#">Adam Jones</a>
                                <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                              </span>
                              <span class="description">Posted 5 photos - 5 days ago</span>
                            </div>
                            <!-- /.user-block -->
                            <div class="row mb-3">
                              <div class="col-sm-6">
                                <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo">
                              </div>
                              <!-- /.col -->
                              <div class="col-sm-6">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <img class="img-fluid mb-3" src="../../dist/img/photo2.png" alt="Photo">
                                    <img class="img-fluid" src="../../dist/img/photo3.jpg" alt="Photo">
                                  </div>
                                  <!-- /.col -->
                                  <div class="col-sm-6">
                                    <img class="img-fluid mb-3" src="../../dist/img/photo4.jpg" alt="Photo">
                                    <img class="img-fluid" src="../../dist/img/photo1.png" alt="Photo">
                                  </div>
                                  <!-- /.col -->
                                </div>
                                <!-- /.row -->
                              </div>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <p>
                              <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                              <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                              <span class="float-right">
                                <a href="#" class="link-black text-sm">
                                  <i class="far fa-comments mr-1"></i> Comments (5)
                                </a>
                              </span>
                            </p>

                            <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                          </div>
                          <!-- /.post -->
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline">
                          <!-- The timeline -->
                          <div class="timeline timeline-inverse">
                            <!-- timeline time label -->
                            <div class="time-label">
                              <span class="bg-danger">
                                10 Feb. 2014
                              </span>
                            </div>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <div>
                              <i class="fas fa-envelope bg-primary"></i>

                              <div class="timeline-item">
                                <span class="time"><i class="far fa-clock"></i> 12:05</span>

                                <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                <div class="timeline-body">
                                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                  weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                  quora plaxo ideeli hulu weebly balihoo...
                                </div>
                                <div class="timeline-footer">
                                  <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                  <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                </div>
                              </div>
                            </div>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <div>
                              <i class="fas fa-user bg-info"></i>

                              <div class="timeline-item">
                                <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                                <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend
                                  request
                                </h3>
                              </div>
                            </div>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <div>
                              <i class="fas fa-comments bg-warning"></i>

                              <div class="timeline-item">
                                <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

                                <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                                <div class="timeline-body">
                                  Take me to your leader!
                                  Switzerland is small and neutral!
                                  We are more like Germany, ambitious and misunderstood!
                                </div>
                                <div class="timeline-footer">
                                  <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                </div>
                              </div>
                            </div>
                            <!-- END timeline item -->
                            <!-- timeline time label -->
                            <div class="time-label">
                              <span class="bg-success">
                                3 Jan. 2014
                              </span>
                            </div>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <div>
                              <i class="fas fa-camera bg-purple"></i>

                              <div class="timeline-item">
                                <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

                                <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

                                <div class="timeline-body">
                                  <img src="https://placehold.it/150x100" alt="...">
                                  <img src="https://placehold.it/150x100" alt="...">
                                  <img src="https://placehold.it/150x100" alt="...">
                                  <img src="https://placehold.it/150x100" alt="...">
                                </div>
                              </div>
                            </div>
                            <!-- END timeline item -->
                            <div>
                              <i class="far fa-clock bg-gray"></i>
                            </div>
                          </div>
                        </div>
                        <!-- /.tab-pane -->

                        <div class="active tab-pane" id="settings">
                          <div
                            style="display:flex;align-items:center;justify-content:right;padding:5px;font-size:20.5px;color:<%if(userProfile.status=='active'){%>green<%}else{%>red<%}%>;">
                            <div>
                              <%=camel2title(userProfile.status)%>
                                <%if(userProfile.status=='active'){%><a href="/profile/status/<%-userProfile._id%>"><i
                                      class="fa-solid fa-toggle-on"></i></a>
                                  <%}else{%><a href="/profile/status/<%-userProfile._id%>"><i
                                        class="fa-solid fa-toggle-off"></i></a>
                                    <%}%>
                            </div>
                          </div>
                          <form id="updateForm" class="form-horizontal">
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-2 col-form-label">First Name</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" name="firstName"
                                  value="<%-userProfile.firstName%>" id="inputName" placeholder="First Name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-2 col-form-label">Last Name</label>
                              <div class="col-sm-10">
                                <input type="text" name="lastName" class="form-control"
                                  value="<%-userProfile.lastName%>" id="inputName" placeholder="Last Name">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-2 col-form-label">Email </label>
                              <div class="col-sm-10">
                                <input type="email" name="email" class="form-control" value="<%-userProfile.email%>"
                                  id="inputName" placeholder="Email">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-2 col-form-label">Mobile</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" value="<%-userProfile.phone%>" id="inputName"
                                  name="phone" placeholder="Mobile">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-2 col-form-label">Address</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" value="<%-userProfile.address%>" id="inputName"
                                  name="address" placeholder="Address">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-2 col-form-label">State</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" value="<%-userProfile.state%>" id="inputName"
                                  name="state" placeholder="State">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-2 col-form-label">City</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" value="<%-userProfile.city%>" id="inputName"
                                  name="city" placeholder="City">
                              </div>
                            </div>

                            <div class="form-group row">
                              <label for="inputName" class="col-sm-2 col-form-label">Zipcode</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" value="<%-userProfile.zip%>" id="inputName"
                                  name="zip" placeholder="Zipcode">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-2 col-form-label">Gender</label>
                              <div class="col-sm-8">
                                <div class="form-group row">
                                  <label for="inputName" class="col-sm-2 col-form-label">Male</label>
                                  <div class="col-sm-2"
                                    style="display: flex;align-items:center;justify-content:space-around; width:30px;">
                                    <input type="radio" name="gender" value="male" <%if(userProfile.gender=='male'
                                      ||userProfile.gender=='Male' ){%>checked<%}%> >
                                  </div>
                                  <label for="inputName" class="col-sm-2 col-form-label">Female</label>
                                  <div class="col-sm-2"
                                    style="display: flex;align-items:center;justify-content:space-around; width:30px;">
                                    <input type="radio" name="gender" value="female" <%if(userProfile.gender=='Female'
                                      ||userProfile.gender=='female' ){%>checked<%}%> >
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="offset-sm-2 col-sm-10" style="text-align:right;">
                                <button type="submit" class="btn btn-danger" style="width:25% ;">Update</button>
                              </div>
                            </div>
                          </form>
                        </div>
                        <!-- /.tab-pane -->
                      </div>
                      <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div><!-- /.container-fluid -->
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
</body>
<%- include("./partials/script") %>
  <script>
    $(function () {
      $("#example1")
        .DataTable({
          responsive: true,
          lengthChange: false,
          autoWidth: false,
          buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
        })
        .buttons()
        .container()
        .appendTo("#example1_wrapper .col-md-6:eq(0)");
      $("#example2").DataTable({
        paging: true,
        lengthChange: false,
        searching: false,
        ordering: true,
        info: true,
        autoWidth: false,
        responsive: true,
      });
    });

    document.querySelector("#updateForm").addEventListener("submit", (e) => {
      e.preventDefault();
      const data = $('form').serializeArray().reduce(function (obj, item) {
        obj[item.name] = item.value;
        return obj;
      }, {});

      fetch(`${location.origin + location.pathname}`, {
        method: "post", headers: {
          'Content-Type': 'application/json'
          // 'Content-Type': 'application/x-www-form-urlencoded',
        }, body: JSON.stringify(data)
      }).then((res) => {
        if (res.status === 200)
          return res.json()
        return Promise.reject(res);
      }).then((data) => {
        Swal.fire({
          position: 'middle-center',
          icon: 'success',
          title: 'User Profile updated!',
          showConfirmButton: false,
          timer: 1500
        }).then(() => {
          location.reload();
        })
      }).catch((err) => {
        err.json().then((nextErr) => {
          Swal.fire({
            position: 'middle-center',
            icon: 'error',
            title: nextErr.err,
            showConfirmButton: false,
            timer: 1500
          })
        })

      }

      )
    })

  </script>

</html>