<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <title>Total Hoop | Venues</title>
</head>

<body>
  <%- include("./partials/navbar")%>
    <%- include("./partials/sidebar")%>

      <% const camel2title=(camelCase)=> camelCase
        .replace(/([A-Z])/g, (match) => ` ${match}`)
        .replace(/^./, (match) => match.toUpperCase())
        .trim();
        %>

        <div class="content-wrapper">
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div style="display:flex;align-items:center;justify-content:right;font-size:23px;padding:8px;">
                    <a href="/venues/add"><button type="button" class="btn btn-primary" title="Add Venue"><i
                          class="fa-solid fa-plus"></i> New Venue</button></a>
                  </div>
                  <div class="card">
                    <!-- <div class="card-header">
                                        <div class="card-tittle col-sm-2"> </div>

                                    </div> -->
                    <div class="card-body">

                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Venue Name</th>
                            <th>Courts</th>
                            <th>Courts Rating</th>
                            <th>Location</th>
                            <th>Court Cost</th>
                            <th>Availablity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%getVenues.map((ven)=>{%>
                            <tr class="venuelist">
                              <td>
                                <a href="venues/details/<%= ven._id %>">
                                  <%=camel2title(ven.venueName?ven.venueName:"N /A")%>
                                </a>
                              </td>

                              <td>
                                <%=ven.courtInfo?ven.courtInfo.length:"N /A"%>
                              </td>
                              <td>
                                <%=ven.ratings?ven.ratings:"N /A"%>
                              </td>

                              <td>
                                <%=camel2title(ven.location?ven.location:"N /A")%>
                              </td>

                              <td>
                                <%if(ven.courtCost=='red'){%><i class="fa-solid fa-circle" style="color:red;">
                                  </i>
                                  <%}else{%><i class="fa-solid fa-circle" style="color:green;">
                                      <%}%>
                              </td>
                              <td>
                                <%=camel2title(ven.availabilityDays?ven.availabilityDays:"N /A")%>
                              </td>

                            </tr>
                            <%})%>
                        </tbody>

                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
          </section>
        </div>

</body>
<%- include("./partials/script")%>
  <script>
    $(function () {

      $("#example1")
        .DataTable({
          responsive: true,
          lengthChange: false,
          autoWidth: false,
          order: [],
          // buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
        })
        .buttons()
        .container()
        .appendTo("#example1_wrapper  .col-md-6:eq(0)");

      $("#example2").DataTable({
        paging: true,
        lengthChange: false,
        searching: false,
        ordering: true,
        info: true,
        autoWidth: false,
        responsive: true,
      });
    });


    function filter(e) {
      // how to fetch data using
      let role = document.querySelector("#select").value
      if (role == "all")
        return location.href = `/getUsers`
      location.href = `?role=${role}`
    }



    function warnning(url) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((conf) => {
        if (conf.isConfirmed) {
          Swal.fire({
            position: 'middle-center',
            icon: 'success',
            title: 'User Delete',
            showConfirmButton: false,
            timer: 1500
          })

          location.href = url
        }

      })
    }
  </script>

</html>